<a href="https://colab.research.google.com/github/szywyk/data-analysis-python/blob/main/adult-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv(
      'adult-data.csv',
      header=0
)

### Some data info

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df.shape

(32561, 15)

### How many of each race are represented in this dataset?

In [10]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [11]:
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean().round(1)
average_age_men

39.4

### What is the percentage of people who have a Bachelor's degree?

In [12]:
percentage_bachelors = round((df.loc[df['education'] == 'Bachelors', 'education'].size * 100 / df.shape[0]), 1)
percentage_bachelors

16.4

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [13]:
# With Bachelors, Masters, Doctorate
higher_education = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]

# percentage with salary >50K
higher_education_rich = round((higher_education.loc[higher_education['salary'] == '>50K'].shape[0] * 100 / higher_education.shape[0]), 1)
higher_education_rich

46.5

### What percentage of people without advanced education make more than 50K?

In [15]:
# Without Bachelors, Masters, Doctorate
lower_education = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]

# percentage with salary >50K
lower_education_rich = round((lower_education.loc[lower_education['salary'] == '>50K'].shape[0] * 100 / lower_education.shape[0]), 1)
lower_education_rich

17.4

### What is the minimum number of hours a person works per week?

In [16]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [17]:
num_min_workers = df.loc[df['hours-per-week'] == min_work_hours].shape[0]
num_min_rich = df.loc[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0]

rich_percentage = round((num_min_rich * 100 / num_min_workers), 1)
rich_percentage

10.0

### What country has the highest percentage of people that earn >50K?

In [19]:
countries_rich = df.loc[df['salary'] == '>50K', 'native-country']
all_countries = df['native-country']
countries_without_rich = all_countries[~all_countries.isin(countries_rich)].value_counts()
all_countries = all_countries.value_counts().drop(countries_without_rich.index).drop('?')
earning_percentage = countries_rich.value_counts().drop('?') * 100 / all_countries
highest_earning_country = earning_percentage.idxmax()
highest_earning_country_percentage = round(earning_percentage.max(), 1)

highest_earning_country_percentage

41.9

### The most popular occupation for those who earn >50K in India.

In [20]:
top_IN_occupation = df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'), 'occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

### Nicely printed results

In [22]:
print("Number of each race:\n", race_count) 
print("\nAverage age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty